
.mainDiv{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 60vh;
    margin-left: 35vw;
    margin-top: 20vh;
    border-radius: 10px;
    background-color: rgb(195, 164, 225);
    align-content: space-around;
    
}
.secDiv{
    display: flex;
    flex-direction: column;
    /* gap:2rem; */
    width: 15vw;
    padding-left: 6vw;
    height:4vh
}
.name{
    padding-right:10vw ;
    /* padding-top: 10vh; */
}
.subBtn{
    background-color: blueviolet;
    margin-top: 20vh;
}
